# node
node_modules/

# builds frontend
dist/
build/

# logs
*.log

# OS
.DS_Store
Thumbs.db

# env
.env
.env.local
target

# generated types
.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# jetbrains setting folder
.idea/
.vercel
.env*.local