<div class="absolute inset-0 bg-linear-to-br from-dark via-secondary to-dark"></div>
<div class="absolute inset-0 opacity-20">
  <div class="absolute top-1/4 left-1/4 w-96 h-96 bg-primary rounded-full blur-[120px]"></div>
  <div class="absolute top-1/4 left-1/4 w-96 h-96 bg-primary rounded-full blur-[120px]"></div>
</div>
<section class="flex m-auto space-x-20 md:flex-row flex-col relative z-10 pb-52">
  <div class="relative">
    <!-- Background grandient -->
    <h2 class="text-5xl text-white z-10 font-bold">Explora la Anatomía a Nivel Microscópico</h2>
    <p class="text-muted">
      Visualiza tejidos anatómicos con precisión molecular usando modelos 3D interactivos y realidad virtual. Ferrum
      revoluciona el estudio de la anatomía microscópica.
    </p>
    <div class="flex text-center py-3">
      <div class="border-r-2 px-3"><h3 class="font-bold">100+</h3><p class="text-sm text-muted">Modelos 3D</p></div>
      <div class="border-r-2 px-3"><h3 class="font-bold">VR</h3><p class="text-sm text-muted">Compatible</p></div>
      <div class="px-3"><h3 class="font-bold">3</h3><p class="text-sm text-muted">Plataformas</p></div>
    </div>
  </div>
  <img src="microscopio.webp" alt="" class="rounded-md object-cover w-full md:w-1/2" />
</section>
