---
import DownloadIcon from "@/assets/icons/DownloadIcon.astro";
import GradientButton from "./GradientButton.astro";
---

<section class="my-20 md:my-48">
  <h2 class="text-primary-light py-5 text-xl font-bold">Descarga Ferrum</h2>
  <div class="flex flex-col gap-8 md:flex-row-reverse md:items-center md:gap-5">
    <span class="flex-1">
      <p class="text-muted mb-6 leading-relaxed">
        Acceso abierto y multiplataforma. Descarga Ferrum sin coste para
        Windows, macOS o Linux, o accede directamente desde tu navegador
        mediante WebAssembly. Motor de rendering 3D desarrollado en Rust,
        especializado en visualización de biología vegetal educativa con soporte
        completo para realidad virtual.
      </p>
      <GradientButton>
        <span class="mx-2">Descargar Ahora</span><DownloadIcon />
      </GradientButton>
    </span>
    <img
      src="img/microscopio.webp"
      alt="Visualización microscópica en Ferrum"
      class="aspect-video w-full rounded-xl object-cover md:aspect-auto md:h-[300px] md:w-2/5 lg:h-[360px]"
    />
  </div>
</section>
