<div class="absolute top-28 inset-0 bg-linear-to-br from-dark via-secondary to-dark -z-10"></div>
<div class="absolute inset-0 opacity-20 top-28 -z-10">
  <div class="absolute top-1/4 left-1/4 w-96 h-96 bg-primary rounded-full blur-[120px]"></div>
</div>
