<div
  class="from-dark via-secondary to-dark absolute inset-0 top-28 -z-10 bg-linear-to-br"
>
</div>
<div class="absolute inset-0 top-28 -z-10 opacity-20">
  <div
    class="bg-primary absolute top-1/4 left-1/4 h-96 w-96 rounded-full blur-[120px]"
  >
  </div>
</div>
