---
import FerrumLogo from "@/assets/icons/FerrumLogo.astro";
import GitHubIcon from "@/assets/icons/GitHubIcon.astro";
---

<header
  class="bg-secondary/90 sticky z-50 flex items-center justify-between border-1 border-b border-gray-700 p-5 opacity-95 lg:px-20"
>
  <a href="/" class="cursor-pointer">
    <FerrumLogo height="80" width="80" />
  </a>
  <nav>
    <ul class="text-md flex cursor-pointer space-x-5 lg:space-x-10 lg:text-xl">
      <li
        class="hover:text-primary-light group text-md relative transition-all duration-200"
      >
        <a href="/#home">
          Home
          <span
            class="from-accent to-primary-light absolute bottom-0 left-0 h-0.5 w-0 bg-linear-to-r transition-all duration-200 group-hover:w-full"
          ></span>
        </a>
      </li>
      <li
        class="hover:text-primary-light group text-md relative transition-all duration-200"
      >
        <a href="/#features">
          Features
          <span
            class="from-accent to-primary-light absolute bottom-0 left-0 h-0.5 w-0 bg-linear-to-r transition-all duration-200 group-hover:w-full"
          ></span>
        </a>
      </li>
      <li
        class="hover:text-primary-light group text-md relative transition-all duration-200"
      >
        <a href="/#vr">
          VR
          <span
            class="from-accent to-primary-light absolute bottom-0 left-0 h-0.5 w-0 bg-linear-to-r transition-all duration-200 group-hover:w-full"
          ></span>
        </a>
      </li>
      <li
        class="hover:text-primary-light group text-md relative transition-all duration-200"
      >
        <a href="/#requirements">
          Requirments
          <span
            class="from-accent to-primary-light absolute bottom-0 left-0 h-0.5 w-0 bg-linear-to-r transition-all duration-200 group-hover:w-full"
          ></span>
        </a>
      </li>
      <li
        class="hover:text-primary-light group text-md relative transition-all duration-200"
      >
        <a href="/demo">
          Demo
          <span
            class="from-accent to-primary-light absolute bottom-0 left-0 h-0.5 w-0 bg-linear-to-r transition-all duration-200 group-hover:w-full"
          ></span>
        </a>
      </li>
      <li
        class="hover:text-primary-light group text-md relative transition-all duration-200"
      >
        <a href="/download">
          Download
          <span
            class="from-accent to-primary-light absolute bottom-0 left-0 h-0.5 w-0 bg-linear-to-r transition-all duration-200 group-hover:w-full"
          ></span>
        </a>
      </li>
    </ul>
  </nav>
  <a
    href="https://github.com/karlosvas"
    target="_blank"
    class="hover:text-primary-light cursor-pointer transition-all duration-200"
  >
    <GitHubIcon height="30" width="30" />
  </a>
</header>
