<section>
  <div class="z-10 flex space-x-10">
    <div>
      <h1 class="text-4xl font-bold py-4 text-primary-light">Anatomía en Tres Dimensiones</h1>
      <p class="text-muted">
        Del Órgano a la Célula Visualiza transiciones fluidas entre anatomía macroscópica y estructuras microscópicas
        mediante modelos 3D interactivos y realidad virtual. Ferrum integra escalas anatómicas que tradicionalmente
        permanecen fragmentadas.
      </p>
    </div>
    <img src="img/rocks.webp" alt="" class="w-1/2 h-auto rounded-2xl object-cover" />
  </div>
  <div class="flex space-x-10 mt-10">
    <div class="border-r-1 pr-5 font-bold">100+ Modelos</div>
    <div class="border-r-1 pr-5 font-bold">3D VR Nativo</div>
    <div class="pr-5 font-bold">3 Plataformas</div>
  </div>
</section>
