---
import AboutUs from "@/components/AboutUs.astro";
import AtomSection from "@/components/AtomSection.astro";
import Precision from "./Precision.astro";
import DownloadSection from "@/components/DownloadSection.astro";
---

<main class="flex-1 p-10 pt-20 md:pt-52 w-full md:w-3/4 m-auto">
  <AboutUs />
  <AtomSection />
  <Precision />
  <DownloadSection />
</main>
