---

---

<section class="flex space-x-10 my-20 items-center py-20">
  <img src="organismos.webp" alt="" class="object-cover w-1/3 rounded-3xl" />

  <div>
    <h2 class="text-2xl font-bold">Precisión Microscópica en 3D</h2>
    <p class="text-muted">
      No solo visualizas órganos completos, sino las estructuras celulares y tejidos a nivel microscópico. Como tener un
      microscopio de última generación, pero con la capacidad de rotar, ampliar y explorar en tres dimensiones.
    </p>
    <ul>
      <li class="text-primary">
        <span class="text-white">Visualización de tejido óseo, muscular, nervioso y más</span>
      </li>
      <li class="text-primary">
        <span class="text-white">Navegación intuitiva entre diferentes niveles de magnificación</span>
      </li>
      <li class="text-primary"><span class="text-white">Anotaciones y etiquetado científico detallado</span></li>
    </ul>
  </div>
</section>

<style>
  ul {
    list-style-type: disc;
    margin-left: 1.5rem;
  }
</style>
