<section class="my-32 relative">
  <div class="mb-12">
    <h2 class="text-primary-light font-bold text-3xl md:text-2xl mb-4">Inmersión en Realidad Virtual</h2>
    <p class="text-lg max-w-2xl">
      Explora la anatomía humana en un espacio tridimensional completo. <br /> Cada detalle cobra vida ante tus ojos.
    </p>
  </div>

  <div class="relative grid grid-cols-2 md:grid-cols-3 gap-4 md:gap-6 mb-12">
    <div class="col-span-2 md:col-span-2 md:row-span-2 relative group overflow-hidden rounded-2xl">
      <img
        src="/img/gafas.webp"
        alt="Gafas VR"
        class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105"
      />
      <div
        class="absolute inset-0 bg-linear-to-t from-black/60 via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        <div class="absolute bottom-4 left-4 text-white">
          <p class="text-xl font-semibold">Soporte OpenXR</p>
          <p>Meta Quest Pro</p>
        </div>
      </div>
    </div>

    <!-- Calabera -->
    <div class="relative group overflow-hidden rounded-2xl aspect-square">
      <img
        src="/img/calabera.webp"
        alt="Rendering 3D"
        class="w-full h-full object-cover transition-transform duration-500 group-hover:rotate-6 group-hover:scale-110"
      />
      <div class="absolute inset-0 bg-gradient-to-br from-purple-500/30 to-blue-500/30 mix-blend-overlay"></div>
    </div>
    <!-- Cube -->
    <div class="relative group overflow-hidden rounded-2xl aspect-square">
      <img
        src="/img/cube.webp"
        alt="Rendering 3D"
        class="w-full h-full object-cover transition-transform duration-500 group-hover:rotate-6 group-hover:scale-110"
      />
      <div class="absolute inset-0 bg-gradient-to-br from-purple-500/30 to-blue-500/30 mix-blend-overlay"></div>
    </div>
  </div>
  <!-- Caracteristicas -->
  <div class="grid md:grid-cols-3 gap-6">
    <div
      class="backdrop-blur-sm bg-white/5 p-6 rounded-xl border border-white/10 hover:border-primary-light/50 transition-colors"
    >
      <h4 class="font-bold text-lg mb-2">Controles Intuitivos</h4>
      <p class="text-sm opacity-80">Manipula y rota modelos anatómicos con tus manos en el espacio virtual</p>
    </div>
    <div
      class="backdrop-blur-sm bg-white/5 p-6 rounded-xl border border-white/10 hover:border-primary-light/50 transition-colors"
    >
      <h4 class="font-bold text-lg mb-2">Precisión científica</h4>
      <p class="text-sm opacity-80">Visualiza estructuras anatómicas con fidelidad médica en escala real</p>
    </div>
    <div
      class="backdrop-blur-sm bg-white/5 p-6 rounded-xl border border-white/10 hover:border-primary-light/50 transition-colors"
    >
      <h4 class="font-bold text-lg mb-2">60 FPS Estables</h4>
      <p class="text-sm opacity-80">Experiencia fluida optimizada para dispositivos VR de última generación.</p>
    </div>
  </div>
</section>
